/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- Reset-Code --*/
.typography,.about,.welcome,.services,.education,.clients,.codes,.contact{
    padding:6em 0;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.servicegrid1 {
    text-align: center;
    width: 50%;
}
.servicegrid1 h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400
}
.servicegrid1  i.fa {
    color: #ff4c4c;
    color:;
    font-size: 70px;
    margin: .5em 0;
}
.servicegrid1  p {
    font-size: 14px;
    color: #e6e6e6;
    line-height: 1.8em;
    letter-spacing: .5px;
    text-transform: capitalize;
}
.servicegrid1 i.fa.fa-graduation-cap {
    color: #0099e5;
    color: #fb751c;
}
.servicegrid1 i.fa.fa-book {
    color: #ff4f81;
    color: #fbe51c;
}
.servicegrid1 i.fa.fa-graduation-cap {
    color: #0099e5;
    color: #fb751c;
}
.servicegrid1 i.fa.fa-bars {
    color: #ff4f81;
    color: #fb1cb4;
}
.servicegrid1 i.fa.fa-pie-chart {
    color: #1cfba5;
}
@media (max-width:768px){
.grid_5 {
    padding: 0 0 1em;
}
.grid_3 {
    margin-bottom: 0em;
}
}
@media (max-width:640px){
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
        margin-bottom: .5em;
    }
    .progress {
        height: 10px;
        margin-bottom: 10px;
    }
    ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 10px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
}
@media (max-width:480px){
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
}
@media (max-width: 320px){
    .grid_4 {
        margin-top: 18px;
    }
    .alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px !important;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        font-size: 0.81em;
    }
    .table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 12px!important;
    }
    .codes .row {
        margin: 0;
    }
}
/*-- //typography --*/
@media screen and (max-width: 1440px){
    .banner1 h2 {
        padding: 2em 0 0em 4em;
    }
}
@media screen and (max-width: 1366px){
    .banner1 h2 {
        padding: 2em 0 0em 3em;
    }
}
@media screen and (max-width: 1280px){
    .contact p {
        width: 60%;
        margin: 0 auto 3em;
    }
    .callleft h3 {
        font-size: 27px;
    }
    .contact-grdr h3 {
        font-size: 18px;
    }
    .contact-grdl span {
        font-size: 1.5em;
    }
    .banner1 h2 {
        padding: 2em 0 0em 2em;
    }
    .bannergrid1 {
        padding: 1em 2em;
    }
    .bannerinfo {
        padding-top: 9em;
    }
    .banner {
        min-height: 675px;
    }
}
@media screen and (max-width: 1080px){
    .bannergrid {
        padding: 0;
        width: 50%;
    }
    .welcome h3 {
        font-size: 1.5em;
        margin-bottom: .8em;
    }
    .welcome h4 {
        font-size: 17px;
        line-height: 1.7em;
        margin-bottom: .8em;
    }
    .book h3 {
        font-size: 27px;
    }
    .left1 {
        margin-bottom: 8.75em;
    }
    .left1 span.glyphicon.glyphicon-adjust {
        right: -11%;
    }
    .book p {
        width: 81%;
    }
    .contact p {
        width: 70%;
    }
    .aboutleft p {
        margin-bottom: .5em;
    }
    .servicegrid1 i.fa {
        font-size: 55px;
    }
    .teamgrid1 {
        padding: 4px;
    }
    .teaminfo {
        padding: 1em 1em;
    }
    .callleft h3 {
        font-size: 25px;
    }
    .callright input[type="tel"] {
        width: 68%;
    }
    h3.heading {
        margin-bottom: 1em;
    }
    .demo > li img {
        width: 309px;
    }
    .aboutleft h3 {
        font-size: 27px;
    }
    .banner1 h2 {
        padding: 3em 0 0em 1.5em;
        font-size: 35px;
    }
    .bannergrid1 i.fa {
        font-size: 32px;
    }
    .banner {
        min-height: 625px;
    }
    .bannerinfo {
        padding-top: 7em;
    }
    .top h2 {
        font-size: 28px;
    }
    .icon-box {
        padding: 8px 4px;
    }
}
@media screen and (max-width: 1024px){
    .bannergrid1 h4 {
        margin: .5em 0 0;
    }
    .banner {
        background: url(../images/banner2.jpg) no-repeat -200px 0px;
        background-size: cover;
    }
}
@media screen and (max-width: 991px){
    .welcome-w3right {
        margin-bottom: 3em;
    }
    .book h3 {
        font-size: 24px;
    }
    .book p {
        width: 95%;
    }
    .book1,.book {
        padding: 4em 0;
    }
    .eduleft {
        width: 33.33%;
        float: left;
    }
    .eduright {
        padding-left: 4em;
        width: 66.66%;
        float: left;
    }
    .right1 p, .left1 p {
        font-size: 14px;
    }
    .left1 {
        margin-bottom: 10.7em;
        padding-right: 2em;
    }
    .left1 span.glyphicon.glyphicon-adjust {
        right: -15%;
    }
    .c-img {
        width: 20%;
        float: left;
    }
    .c-info {
        width: 70%;
        float: left;
    }
    .client-grids {
        margin-bottom: 3em;
    }
    .col-md-5.contact-grid {
        margin-top: 3em;
    }
    .copyrighttop {
        float: none;
        text-align: center;
        margin-bottom: 1em;
    }
    .copyrightbottom {
        float: none;
        text-align: center;
    }
    .aboutright {
        margin-top: 3em;
    }
    .servicegrid1 {
        width: 50%;
        float: left;
        margin-bottom: 5em;
    }
    .servicegrid1 i.fa {
        font-size: 50px;
        margin: .2em 0;
    }
    .servicegrid1:nth-child(3), .servicegrid1:nth-child(4) {
        margin-bottom: 0em;
    }
    .teamgrid1 {
        width: 50%;
        float: left;
        padding: 30px;
    }
    .teaminfo {
        padding: 1em 3em;
    }
    .demo > li img {
        width: 236px;
    }
    .banner1 h2 {
        padding: 3em 0 0em 4em;
        font-size: 35px;
    }
    .call:nth-child(2) {
        margin: 0;
    }
    h3.heading {
        font-size: 33px;
    }
    .map h2 {
        font-size: 33px;
    }
    .bannergrid1 {
        padding: 1em 2em;
        width: 50%;
        float: left;
    }
    .bannergrid {
        padding: 0;
        width: 61%;
    }
    .top h5 {
        letter-spacing: 1px;
    }
    .banner {
        background: url(../images/banner2.jpg) no-repeat -100px 0px;
        background-size: cover;
    }
    .logo h1 a {
        font-size: .9em;
    }
}
@media screen and (max-width: 900px){
    .contact p {
        width: 80%;
    }
    .typography, .about, .welcome, .services, .education, .clients, .codes, .contact {
        padding: 5em 0;
    }
    .banner {
        background: url(../images/banner2.jpg) no-repeat -160px 0px;
        background-size: cover;
    }
    .top h2 {
        font-size: 26px;
    }
}
@media screen and (max-width: 800px){
    .banner1 h2 {
        padding: 3em 0 0em 2em;
        font-size: 33px;
    }
    .contact p {
        width: 85%;
    }
    .callleft h3 {
        font-size: 22px;
    }
    ul.nav.navbar-nav li a {
        margin: 0 10px;
    }
    .banner {
        background: url(../images/banner2.jpg) no-repeat -200px 0px;
        background-size: cover;
        min-height: 620px;
    }
    .team {
        padding: 4em 0;
    }
    #gallery {
        padding: 4em 0;
    }
    .map {
        padding: 4em 0 0;
    }
}
@media screen and (max-width: 768px){
    .copyright {
        padding: 2em 0;
    }
    .contact p {
        width: 90%;
        font-size: 14px;
    }
    .typography, .about, .welcome, .services, .education, .clients, .codes, .contact {
        padding: 4em 0;
    }
    .aboutleft h3 {
        font-size: 24px;
    }
    .callleft h5 {
        font-size: 17px;
    }
    .callleft h3 {
        font-size: 20px;
    }
    .logo h1 a {
        font-size: .85em;
    }
    .left1 span.glyphicon.glyphicon-adjust {
        right: -14%;
    }
    .banner1 {
        min-height: 290px;
    }
    .bannergrid {
        width: 63%;
    }
    .bannerinfo {
        padding-top: 3em;
    }
}
@media screen and (max-width: 736px){
    .navbar-toggle .icon-bar {
        width: 28px;
        background: #000;
    }
    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 6px;
    }
    .navbar-nav {
        float: none;
        margin: 0em 0 1em;
    }
    .nav > li {
        text-align: center;
        margin: 1em 0;
    }
    div#bs-example-navbar-collapse-1 {
        position: absolute;
        background: #fff;
        width: 100%;
        z-index: 999;
        left: 0%;
    }
    .navbar-nav .open .dropdown-menu {
        text-align: center;
        margin: 0;
    }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 0;
    }
    .navbar-toggle {
        margin: 0;
    }
    ul.dropdown-menu li a:hover {
        color: #Ff4c4c !important;
        background: none;
    }
    .book h3 {
        font-size: 23px;
    }
    .book p {
        width: 100%;
    }
    .servicegrid1 {
        padding: 0 2em;
    }
    .demo > li img {
        width: 225px;
    }
    .map iframe {
        min-height: 350px;
    }
    .left1 span.glyphicon.glyphicon-adjust {
        right: -15%;
    }
    .banner1 {
        min-height: 280px;
    }
    .icon-box {
        padding: 8px 15px;
        width: 50%;
        float: left;
    }
    .bannergrid1 p {
        font-size: 14px;
    }
}
@media screen and (max-width: 667px){
    .book h3 {
        line-height: 1.5em;
        padding: 0 3em;
    }
    .right1 p, .left1 p {
        font-size: 13px;
    }
    .left1 {
        margin-bottom: 12.5em;
        padding-right: 1em;
    }
    .left1 span.glyphicon.glyphicon-adjust {
        right: -18%;
    }
    .aboutleft h3 {
        font-size: 22px;
    }
    .teamgrid1 {
        padding: 10px;
    }
    .teamgrid1 h3 {
        font-size: 18px;
    }
    .contact p {
        width: 100%;
    }
    .demo > li img {
        width: 305px;
    }
    .top {
        padding: 2em 1em;
    }
    .top h5 {
        font-size: 14px;
    }
    .top h2 {
        font-size: 24px;
    }
    .bannergrid1 {
        padding: 1em 1em;
    }
    .bannerinfo {
        padding-top: 5em;
    }
    .banner {
        background: url(../images/banner2.jpg) no-repeat -310px 0px;
        background-size: cover;
        min-height: 580px;
    }
    .banner i.fa.fa-chevron-right {
        font-size: 11px;
        width: 24px;
        height: 24px;
        padding: 0px 8px;
        line-height: 23px;
    }
}
@media screen and (max-width: 640px){
    .welcome h3 {
        font-size: 1.4em;
    }
    .eduleft {
        padding-left: 5px;
    }
    .right1 h3, .left1 h3 {
        font-size: 18px;
    }
    .eduright {
        padding-left: 3em;
    }
    .teaminfo {
        padding: 1em 2em;
    }
    .demo > li img {
        width: 291px;
    }
    .bannergrid1 i.fa {
        font-size: 28px;
    }
    .bannergrid1 h4 {
        font-size: 16px;
    }
    .banner {
        min-height: 570px;
    }
    .left1 span.glyphicon.glyphicon-adjust {
        right: -17%;
    }
}
@media screen and (max-width: 600px){
    .book h3 {
        padding: 0 2em;
    }
    .left1 {
        margin-bottom: 2em;
        padding: 0 5em;
        text-align: left;
    }
    .eduleft {
        padding-left: 15px;
        width: 100%;
        float: none;
        border-right: 1px solid transparent;
    }
    .left1 span.glyphicon.glyphicon-adjust {
        right: 90%;
        font-size: 27px;
    }
    .left1:nth-child(4) {
        margin-bottom: 3em;
    }
    .eduright {
        padding-left: 3em;
        width: 100%;
        float: none;
    }
    h3.heading {
        font-size: 28px;
    }
    .map h2 {
        font-size: 28px;
    }
    .banner1 {
        min-height: 270px;
    }
    .banner1 h2 {
        padding: 3em 0 0em 1em;
        font-size: 28px;
    }
    .demo > li img {
        width: 271px;
    }
    .bannergrid {
        padding: 0;
        width: 65%;
    }
    .top h2 {
        font-size: 20px;
    }
    .top {
        padding: 1.5em 1em;
    }
    .banner {
        min-height: 550px;
    }
}
@media screen and (max-width: 568px){
    .book h3 {
        padding: 0 1em;
    }
    .servicegrid1 {
        padding: 0 1em;
    }
    .teamgrids p {
        font-size: 14px;
        margin: .8em 0;
        letter-spacing: .5px;
    }
    .demo > li img {
        width: 255px;
    }
    .top h5 {
        letter-spacing: 0px;
    }
    h3.hdg {
        font-size: 2em;
    }
    .bannergrid {
        width: 69%;
    }
}
@media screen and (max-width: 480px){
    .header-top-right {
        float: none;
    }
    .header-top-left p, .header-top-right p {
        padding: 0 1.5em;
    }
    .aboutleft h3 {
        font-size: 20px;
    }
    .servicegrid1 h3 {
        font-size: 20px;
    }
    .servicegrid1 {
        width: 100%;
        float: none;
    }
    .servicegrid1:nth-child(3) {
        margin-bottom: 5em;
    }
    .teamgrid1 {
        padding:0 50px 50px;
        width: 100%;
    }
    .demo > li img {
        width: 212px;
    }
    .callright input[type="tel"] {
        width: 65%;
    }
    .c-img {
        width: 25%;
        float: left;
    }
    .bannergrid {
        width: 83%;
    }
    .bannergrid1 h4 {
        font-size: 15px;
    }
    .contact-grdr h3 {
        font-size: 16px;
    }
    .contact-grdl span {
        font-size: 1.3em;
    }
    .team {
        padding: 3em 0;
    }
    #gallery {
        padding: 3em 0;
    }
    .map {
        padding: 3em 0 0;
    }
    .typography, .about, .welcome, .services, .education, .clients, .codes, .contact {
        padding: 3em 0;
    }
    .logo h1 a {
        font-size: .8em;
    }
    .icon-box {
        width: 100%;
        float: none;
    }
    .icons .bs-glyphicons li {
        float: left;
        width: 31%;
    }
}
@media screen and (max-width: 414px){
    .header-top-left p, .header-top-right p {
        padding: 0 0.5em;
    }
    .book h3 {
        padding: 0 0em;
        font-size: 22px;
    }
    .c-img {
        width: 30%;
        float: left;
    }
    .demo > li img {
        width: 362px;
    }
    .map iframe {
        min-height: 300px;
    }
    .callright input[type="tel"] {
        width: 100%;
        margin-bottom: 1em;
    }
    .callleft h3 {
        font-size: 18px;
    }
    .bannergrid {
        width: 100%;
    }
    span.glyphicon.glyphicon-play-circle {
        font-size: 50px;
    }
    .contact p {
        padding: 0 1em;
    }
    .contact-grid input[type="text"], .contact-grid input[type="email"], .contact-grid textarea {
        width: 100%;
    }
    .contact-grid input[type="submit"] {
        font-size: 15px;
        padding: .6em 1em;
    }
    .contact-grdr h3 {
        padding-top: .2em;
    }
    .banner1 {
        min-height: 250px;
    }
    div#small-dialog1, div#small-dialog2 {
        padding: 20px;
    }
    h3.hdg {
        font-size: 1.8em;
    }
}
@media screen and (max-width: 384px){
    .bannergrid1 h4 {
        font-size: 14px;
    }
    .header-top-right i.fa {
        margin-right: 0.2em;
    }
    .header-top-left p, .header-top-right p {
        padding: 0 0.3em;
    }
    .banner {
        min-height: 540px;
    }
    .book h3 {
        font-size: 20px;
    }
    .left1 {
        padding: 0 4em;
    }
    .eduright {
        padding-left: 2em;
    }
    .servicegrid1 {
        padding: 0 0px;
    }
    .teamgrid1 {
        padding: 0 30px 50px;
    }
    span.glyphicon.glyphicon-play-circle {
        font-size: 40px;
    }
    .contact-grdr h3 {
        font-size: 15px;
    }
    .contact-grdl span {
        font-size: 1.2em;
    }
    .contact-grdr h3 {
        padding-top: 0;
    }   
    .copyrighttop h4 {
        font-size: 16px;
    }
    a.facebook {
        font-size: 14px;
    }
    #small-dialog1 input[type="submit"], #small-dialog1 input[type="submit"] {
        width: 45%;
    }
    h3.hdg {
        font-size: 1.6em;
    }
    .bannergrid1 p {
        font-size: 13px;
        letter-spacing: 0px;
    }
}
@media screen and (max-width: 375px){
    .header-top-right {
        text-align: center;
    }
    .header-top-left p, .header-top-right p {
        padding: 0.2em 0.5em;
    }
    .bannergrid {
        width: 100%;
    }
    .bannerinfo {
        padding-top: 3em;
    }
    .welcome h3 {
        font-size: 1.3em;
    }
    .welcome-w3right {
        padding: 0;
    }
    .eduright {
        padding-left: 1em;
    }
    .right1 h3, .left1 h3 {
        font-size: 16px;
    }
    .contact-grid {
        padding-right: 0;
    }
    .banner1 h2 {
        padding: 2em 0 0em 1em;
        font-size: 25px;
    }
}
@media screen and (max-width: 320px){
    .logo h1 a {
        font-size: .7em;
    }
    .bannerinfo {
        padding-top: 1em;
    }
    .banner {
        min-height: 525px;
    }
    .bannergrid1 i.fa {
        font-size: 24px;
    }
    .bannergrid1 h4 {
        font-size: 13px;
    }
    .top h5 {
        font-size: 13.5px;
    }
    .top {
        padding: 1.5em .5em;
    }
    span.glyphicon.glyphicon-play-circle {
        font-size: 30px;
    }
    h3.heading {
        font-size: 23px;
    }
    .map h2 {
        font-size: 25px;
    }
    .readmore-w3 a {
        font-size: 15px;
        padding: .6em 1em;
        letter-spacing: 1px;
    }
    .c-img {
        width: 40%;
        float: left;
    }
    .c-info {
        width: 60%;
        float: left;
    }
    .aboutleft {
        padding: 6px;
    }
    .teamgrid1 {
        padding: 0 10px 50px;
    }
    .callleft h3 {
        font-size: 14px;
    }
    .callleft h5 {
        font-size: 15px;
    }
    .contact-grid {
        padding-left: 0;
    }
    .contact-grdr {
        padding-right: 0;
    }
    .left1 {
        padding: 0 3em;
    }
    .left1 span.glyphicon.glyphicon-adjust {
        font-size: 22px;
    }
    #small-dialog input[type="submit"], #small-dialog2 input[type="submit"] {
        width: 60%;
    }
    #small-dialog1 input[type="submit"], #small-dialog1 input[type="submit"] {
        width: 50%;
    }
    h3.hdg {
        font-size: 1.3em;
    }
    .bannergrid1 {
        width: 100%;
        float: none;
    }
}
/* responsive design */